html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REUSABLE  */
/* REUSABLE  */
/* REUSABLE  */

@font-face {
    font-family: 'SF pro';
    src: url(fonts/sf-pro-display-font/SF-Pro-Display-Light.woff) format('woff');
}

:root {
    --web-green: #00792C;
    --web-dark-grey: #636363;
    --web-grey: #808080;
    --web-primary-light: #F0F7F2;
    --web-white: #FFF;
    --web-black: #000;
    --web-yellow: #FFB000;
}

/* WRAPPER */

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER AREA */

.header-area {
    display: grid;
    grid-template-rows: 110px 1fr;
}

.header-area > div {
   
}

.header-menu {
    background-color: black;
    padding: 35px 37px 35px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
}

.logo h1 {
    color: var(--web-white);
    font-size: 26px;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px 9px;
    border-left: 4px solid var(--web-green);
    border-right: 4px solid var(--web-green);
    letter-spacing: 0.05px;
}

.logo-left {
    font-weight: 900;
}

.logo-right {
    font-weight: 700;
}

.options-list ul {
    display: flex;
    height: 100%;
}

.options-list ul li {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    padding: 13px 24px 13px 24px;
    letter-spacing: -0.45px;
}

.list {
    margin-right: 10px;   
    color: white; 
}

.list-button {
    background-color: white;
    color: var(--web-green);
}

/* MOVING-IMAGES */

.moving-images {
    background-color: black;
    display: grid;
    grid-template-rows: 2.5fr 1fr 2.5fr;
}

.slider {
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.liner {
    display: flex;
}

.col1, .col2, .col3, .col4, .col5 {
    height: 90%;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col6 {
    height: 120%;
}

.images-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-heading h2 {
    font-size: 50px;
    color: white;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: -1.25px;
}

.img-section1 {
    display: grid;
    grid-template-columns: 300px 280px 250px 200px 250px 440px;
    gap: 25px;
    padding: 37px 0 0 20px;
}

.pic1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.pic1 img {
    width: 140px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.pic2 {
    display: flex;
    justify-content: flex-end;
}

.pic2 img {
    width: 100%;
    border-radius: 8px;
}

.pic3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pic3 img {
    width: 100%;
    border-radius: 8px;
}

.pic4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.pic4 img {
    width: 100%;
    border-radius: 8px;
}

.pic5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.pic5 img {
    width: 100%;
    border-radius: 8px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.pic6 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pic6 img {
    width: 40%;
    margin-right: 15px;
    border-radius: 8px;
}

.pic7 img {
    width: 100%;
    border-radius: 8px;
}

.pic8 img {
    width: 100%;
    border-radius: 8px;
    transform: translateY(10%);
}

/* IMAGE SECTION 2 */


.col7, .col8, .col9, .col10, .col11 {
    height: 90%;
}

.img-section2 {
    display: grid;
    grid-template-columns: 400px 350px 220px 390px 200px 200px;
    gap: 25px;
    padding: 30px 0 10px 22px;
}

.col7 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
}

.col7 > div {

}

.col8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col9 {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.col11 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.col9 > div {
}

.pic9 {
    display: flex;
    justify-content: space-between;
}

.pic9-1 {
    width: 120px;
    transform: translate(-10%, -30%);
    border-radius: 8px;
}

.pic9-2 {
    width: 130px;
    transform: translate(-20%, -10%);
    border-radius: 8px;
}

.pic10 img {
    width: 100%;
    border-radius: 8px;
}

.pic11 img {
    width: 100%;
    border-radius: 8px;
}

.pic12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic12 img {
    width: 100%;
    border-radius: 8px;
}

.pic13 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pic13 img {
    width: 80%;
    border-radius: 8px;
}

.pic14 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic14 img {
    width: 100%;
    border-radius: 8px;
}

.pic15 img {
    width: 100%;
    border-radius: 8px;
}

.pic16 {
    display: flex;
    justify-content: center;
}

.pic16 img {
    width: 80%;
    border-radius: 8px;
}

.pic17 img {
    width: 100%;
    border-radius: 8px;
}


/* ANIMATION */

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.slide-track {
    animation: 110s slide infinite linear;
}

.slide-track2 {
    animation: 90s slide2 infinite linear;
}



/* TEXT AREA */

.text-area {
    margin-top: 50px;
    width: 100%;
    padding: 0px 30px 100px 40px;
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 70px;
}

.text-area-heading {
    display: flex;
    justify-content: center;
}

.text-area-heading h2 {
    text-align: center;
    color: var(--web-dark-grey);
    font-size: 54px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 80px;
    letter-spacing: 0.1px;
}

.text-area-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.text-area-text p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Titillium Web', sans-serif;
    color: var(--web-dark-grey);
    width: clamp(600px, 656px, 730px);
    letter-spacing: -0.45px;
}

.text-area-text-left {
    display: flex;
    justify-content: flex-end;
}

.text-area-text-right {
    display: flex;
    justify-content: flex-start;
}

/* IMAGE AREA */

.image-area {
    display: grid;
    grid-template-rows: 219px auto;
    padding: 0 40px;
    margin-bottom: 100px;
}

.image-area > div {
    
}

.image-area-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: clamp(800px, 100%, 1350px);
    justify-self: center;
}

.image-area-buttons > div {
   
}

.button-heading {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
}

.button-heading h3 {
    width: min-content;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 60px;
    color: var(--web-dark-grey);
}

.logistics-button, .agriculture-button, .foods-button {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 50px;
    gap: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.logistics-button {
    background-color: var(--web-yellow);
}

.yellow-back {
    background-color: var(--web-yellow);
    transition: 0.5s;
}

.white-back {
    background-color: var(--web-white);
    transition: 0.5s;
}

.logistics-num, .agriculture-num, .foods-num {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logistics-num p, .agriculture-num p, .foods-num p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    letter-spacing: -2px;
}

.logistics-heading, .agriculture-heading, .foods-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logistics-heading h4, .agriculture-heading h4, .foods-heading h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.image-area-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--web-yellow);
    width: clamp(800px, 100%, 1350px);
    justify-self: center;
}

.image-section-text {
    padding: 60px 0 60px 50px;
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 45px;
}

.image-area-cards > div {
}

.image-section-text-heading h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    color: var(--web-black);
}

.image-section-text-paragraph p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: var(--web-black);
    line-height: 30px;
    width: 476px;
}

.image-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logistics-img {
    width: 450px;
}

.foods-img {
    width: 450px;
}

.agriculture-img {
    width: 420px;
}

/* STATS AREA */

.stats-area {
    padding: 0 40px;
    margin-bottom: 100px;
}

.info-box {
    height: 191px;
    background-color: var(--web-green);
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-box h3 {
    color: var(--web-white);
    font-size: 40px;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.08px;
    margin-bottom: 3px;
}

.info-box p {
    color: var(--web-white);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: -0.45px;
    line-height: 30px;
}

/* POSITIONS AREA */


.positions-area {
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 0 40px;
}

.offer-types-section-heading h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: var(--web-dark-grey);
    margin-bottom: 20px;
}

.positions-area > div {
}

.positions-heading {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.positions-heading h2 {
    font-size: 54px;
    letter-spacing: 0.1px;
    font-family: 'Titillium Web', sans-serif;
    color: var(--web-dark-grey);
    font-weight: 400;
    padding: 10px 0;
}

.job-offers {
    display: grid;
    /* LARGER WIDTH DEVICES */
    /* grid-template-columns: auto minmax(1094px, 1fr); */
    grid-template-columns: auto 1094px;
}

.job-offers > div {

}

.actual-offers {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    gap: 15px;
}

.actual-offers > div {

}

.offer {
    padding: 10px 20px 10px 20px;
    display: grid;
    gap: 13px;
    grid-template-rows: min-content min-content 1fr;
    border: 1px solid var(--web-green);
}

.offer-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offer-heading h3 {
    font-size: 28px;
    letter-spacing: 0.05px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    color: var(--web-green);
}

.offer-heading p {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.07px;
    color: var(--web-green);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.offer-subheading h4 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-family: 'Titillium Web', sans-serif;
    color: var(--web-dark-grey);
    margin-bottom: 7px;
}

.offer-description {
    display: flex;
    justify-content: space-between;
}

.place-time {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 10px;
}

.place-time h4 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-family: 'Titillium Web', sans-serif;
    color: var(--web-dark-grey);
}

.offer-description p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    letter-spacing: -0.45px;
    color: var(--web-dark-grey);
    width: 841px;
    line-height: 30px;
}

.position-type ul {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(7, min-content);
}

.position-type ul button {
    border: none;
    padding: 7.5px 24px;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--web-green);
    color: var(--web-white);
    letter-spacing: -0.45px;
    border: 1px solid var(--web-green);
}

.position-type ul button:focus {
    background-color: var(--web-white);
    color: var(--web-green);
}


/* FOOTER AREA */

